body {
    background-color: #F0EFF2;
}



.attendance-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

.attendance-title {
    border-left: 8px solid #000;

    width: 60vw;
    text-align: left;
}

.title {
    font-family: Inter;
    font-size: 30px;
    color: #000;
    margin-left: 20px;


}

.month-nav {
    border-radius: 10px;
    background: #FFFFFF;
    margin-top: 30px;
    width: 60vw;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.prev-month,
.next-month {
    font-family: Inter;
    font-size: 16px;
    letter-spacing: 2.4px;
    font-weight: bold;
    color: #737373;
}

.current-month {
    font-family: Inter;
    font-weight: bold;
    font-size: 20px;
    color: #000;
    display: flex;
    align-items: center;
}

.img {
    width: 25px;
    height: 25px;
    margin: 0 10px;
}

.attendance-table {
    margin-top: 20px;
    border-radius: 10px;
    background: #FFFFFF;
    width: 60vw;

}


.attendance-table table {
    border-collapse: collapse;
    table-layout: fixed;
    text-align: center;
}

.attendance-table th{
    color: #737373;
    font-family: Inter;
    font-size: 16px;
    letter-spacing: 2.4px;
    font-weight: bold;
    text-align: center;
    border-bottom: solid 3px #E1E1E1;
    padding: 10px 15px;
}

.detail-link {
    color: #000;
    text-decoration: none;
    font-family: Inter;
    font-weight: bold;
}

.attendance-table td{
    text-align: center;
    color: #737373;
    font-family: Inter;
    font-size: 16px;
    letter-spacing: 2.4px;
    font-weight: bold;
    border-bottom: solid 2px #E1E1E1;
    padding: 10px 15px;
}

.attendance-table tbody tr:last-child td {
    border-bottom: none;
}